<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Welcome | Thribhuvan Badminton Hub</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="line"></div>
    <div class="maincontainer">
      <img src="/home7.jpg" alt="" />
    </div>
    <div class="welcome">
      <p class="welcome1">Welcome</p>
    </div>
    <div class="name">
      <p
        style="
          color: rgb(223, 222, 222);
          display: inline-block;
          white-space: nowrap;
          font-family: 'Ubuntu-Bold', sans-serif;
          font-size: 36px;
        "
      >
        The Badminton Hub
      </p>
    </div>
    <div class="para">
      <p
        style="
          color: rgb(223, 222, 222);
          display: inline-block;
          white-space: nowrap;
          font-family: 'Ubuntu-Regular', sans-serif;
          font-size: 15px;
        "
      >
        We Sell all kinds of badminton sports accessories , We also provide
        service for Badminton rackets like racket Stringing
      </p>
    </div>
    <div class="Buttons">
        <a href="/login"><button type="submit"><span></span>Login</button></a>
     
        <a href="/register"><button type="submit"><span></span>Create Profile</button></a>
      </form>
    </div>
  </body>
</html>
